@charset "utf-8";

/* =Reset
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1.4}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{width:100%;border-collapse:collapse;border-spacing:0}
*/

/* =Common */
body{font-family:NanumGothic,'나눔고딕',MalgunGothic,'맑은고딕',Dotum,'돋움',Gulim,'굴림',AppleGothic,Helvetica,sans-serif;font-size:14px}

/* =Set Class */
.blind{visibility:hidden;overflow:hidden;position:absolute;z-index:-1;width:0;height:0;font-size:0;line-height:0}

/* =Syntaxhighlighter */
.syntaxhighlighter{margin:0 !important}

/* =Content Flow */
.svg text{position:absolute;top:0;left:-10000em;font-size:10px;font-family:arial;color:#fff;fill:#000;opacity:.5}
.svg .cate_flow{fill:#c86432;stroke:#000064;stroke-width:1px;opacity:.1}
.svg .cate_interactive{fill:#00e700;stroke:#000064;stroke-width:1px;opacity:.1}
.svg .cate_embedded{fill:#ed9b00;stroke:#000064;stroke-width:1px;opacity:.1}
.svg .cate_heading{fill:#00f;stroke:#000064;stroke-width:1px;opacity:.1}
.svg .cate_sectioning{fill:#ff4201;stroke:#000064;stroke-width:1px;opacity:.1}
.svg .on+text{font-weight:700;font-size:12px;fill:#000;opacity:1px}
.svg .on{opacity:.8 !important}
.svg .cate_metadata.on+text,.svg .cate_phrasing.on+text{fill:#fff}
.svg .cate_metadata,.svg .cate_phrasing{fill:#000888;stroke:#000064;stroke-width:1px;opacity:.1}

/* =Content Desc */
#content_desc{padding:15px}
#content_desc a{color:#08990e}
#content_desc section{margin-top:30px;padding-top:20px;border-top:1px dotted #999}
#content_desc section:first-child{margin-top:0;padding-top:0;border-top:0}
#content_desc .s_tit{margin-top:30px;padding-left:8px;font-weight:bold;font-size:18px;color:#081f5c;border-left:5px solid #06a}/*#081f5c*/
#content_desc .s_tit:first-child{margin-top:0}
#content_desc .definition{padding:15px;background-color:#eef;border-radius:10px}
#content_desc .definition dt{font-weight:bold;color:#137ca5}
#content_desc .definition dd{margin:5px 0 0 10px;line-height:1.6}
#content_desc .markup_rule{}
#content_desc .markup_rule li{line-height:1.8}
#content_desc .tb_attr{border-spacing:0;border-collapse:collapse}
#content_desc .tb_attr caption{visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0}
#content_desc .tb_attr th,#content_desc .tb_attr td{padding:5px 15px;border:1px solid #ccc}
#content_desc .tb_attr th{background-color:#eee}
#content_desc .tb_attr td{background-color:#f7f7f7}

/* =Refer */
#refer{padding:0 10px}
#refer dt{margin-top:10px;font-weight:bold}
#refer dt.first{margin-top:0}
#refer dd{margin-left:0;padding:5px 10px}
#refer ul{margin:0;padding-left:20px}
#refer pre{margin:0}

/* =Flow */
#flow{}
#flow ul{padding-left:25px;line-height:1.6}

/* =Memo */
#memo{padding:10px}
#memo ul{margin:0;padding-left:20px;line-height:1.6}
#memo a{color:#08990e}

/* =Related */
#related{padding:10px}
#related a{color:#08990e;line-height:1.4}

/* =Browser */
#browser{padding:2px 15px}
#browser p{display:inline-block;vertical-align:middle}
#browser p img{margin-left:5px}
#browser p img:first-child{margin-left:0}
#browser em{margin-left:8px}

/* =GridAttr 
#gridAttr{max-width:695px} */